RESEND_API_KEY=re_cQYHnA7B_L5YNoSv92e4hS3ycqQALt4br
EMAIL_FROM=Werkstatt <onboarding@resend.dev>
NOTIFICATION_EMAIL=oliver.reim@hotmai.com
WORKSHOP_NAME=Ihre Werkstatt
SEND_CUSTOMER_CONFIRMATION=true
RESPONSE_SLA_HOURS=24
RATE_LIMIT_MAX=5
