RESEND_API_KEY=re_cQYHnA7B_L5YNoSv92e4hS3ycqQALt4br
EMAIL_FROM=Werkstatt <onboarding@resend.dev>
GMAIL_USER=oliverreim2009@gmail.com
GMAIL_APP_PASSWORD=qlkxjndkjvbcpcjv
NOTIFICATION_EMAIL=oliverreim2009@gmail.com
WORKSHOP_NAME=Ihre Werkstatt
SEND_CUSTOMER_CONFIRMATION=true
